#contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 90px;
    margin-bottom: 90px;
  }

  #aboutTextContainer {
      padding-top: 90px;
      display: flex;
      justify-content: center;
  }

  .descriptionContainer {
    width: 700px;
    line-height: 1.6;
    text-align: center;
  }

  .aboutTitle {
      font-size: 16pt;
  }

  .aboutImageContainer {
      margin-top: 50px;
      text-align: center;
  }