#contentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 90px;
    margin-bottom: 90px;
  }

  #aboutImage {
  }

  #aboutTextContainer {
      padding-top: 90px;
      display: flex;
      justify-content: center;
      padding-bottom: 0px;
      margin-bottom: 0px;
  }

  .descriptionContainer {
    width: 700px;
    text-align: left;
    font-size: 14pt;
    line-height: 1.3;
  }

  .aboutTitle {
      font-size: 16pt;
  }

  .aboutImageContainer {
      margin-top: 50px;
      text-align: center;
  }

  #credits {
      padding-top: 90px;
      text-align: center;
      font-size: 10pt;
  }

  .creditLink {
      color: black;
      text-decoration: none;
  }

  .creditLink:hover {
      text-decoration: underline;
  }

/* Tablet/Mobile Style */
@media screen and (max-width: 768px) {
    #contentContainer {
        padding-top: 20px;
        padding-bottom: 0px;
    }

    #aboutImage {
        max-width: 50%;
    }

    #aboutImageTitle {
        font-size: 11pt;
        padding-top: 2px;
    }
    
    .aboutTitle {
        font-size: 13pt;
    }

    #aboutTextContainer {
        padding-top: 50px;
    }

    .descriptionContainer {
        width: 90%;
        font-size: 11pt;
      }
    
    #credits {
        padding-top: 40px;
        text-align: center;
        font-size: 10pt;
        padding-left: 8%;
        padding-right: 8%;
    }
}