#searchContainer {
  padding-top: 90px;
  display: flex;
  justify-content: center;
}

#searchBar {
  background-color: rgb(238, 238, 238);
  width: 300px;
  height: 40px;
  border: hidden;
  outline: none;
  text-align: center;
  font-family: 'IngramMono-Regular', Helvetica, Arial, Sans-Serif;
  color: black;
  font-size: 13pt;
}

.sortContainer {
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  justify-content: space-evenly;
}

.sortButton {
  font-family: 'IngramMono-Regular', Helvetica, Arial, Sans-Serif;
  background-color: rgb(238, 238, 238);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14pt;
  outline: none;
  border: none;
}

.sortButton:hover {
  background-color: rgb(228, 228, 228);
}

#contentContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}

.invisiblePreview {
  display: none;
}

.previewContainer {
  display: flex;
  justify-content: center;
}

.visiblePreview {
  display: flex;
  flex-direction: row;
  width: 900px;
  padding-bottom: 90px;
}
  
.previewImage {
  width: 150px;
  object-fit: scale-down;
  padding-right: 75px;
}

.previewContentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.previewContent {
  display: flex;
  flex-direction: row;
}

.previewArtist {
  padding-right: 75px;
}

.previewInterviewer {
  padding-right: 75px;
}

.previewDate {
  padding-right: 75px;
}

.previewLinkContainer {
  /* padding-bottom: 10px;
  padding-right: 10px;
  height: 100%;
  display: flex;
  flex-direction: column-reverse; */
}

.previewLink {
  color: black;
  text-decoration: none;
  text-align: right;
}

.previewLink:hover {
  text-decoration: underline;
}