#contentContainer {
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
  }

  #contactTextContainer {
      text-align: center;
      line-height: 1.6;
      width: 700px;
  }
  .contactTitle {
      font-size: 16pt;
  }